Requirement:

Node minimum: version 16.10.0

Une fois dans le projet: Exécutez la commande:
npm install (Permet d'installer les dépendances du projet)
Alternatif: Si vous rencontrez un problème avec npm install, faites ceci

npm install -g yarn
yarn insatll

NB: Modifier les fichiers environnement si possible
