<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-sm-12">

            <mat-accordion class="">
                <mat-expansion-panel expanded="">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h6 class="text-primary">PORTER PLAINTE</h6>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form class="col-md-12" [formGroup]="Formulaire">
                        <div class="mb-3 row">

                            <mat-form-field appearance="fill" class="col-md-12 ">
                                <mat-label>Motif </mat-label>
                                <input type="text" placeholder="" required matInput formControlName="motif">
                            </mat-form-field>

                    

                            <mat-form-field appearance="fill" class="col-md-12 ">
                                <mat-label>Description </mat-label>
                                <textarea matInput matInput required="" formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                        <mat-card-actions class="col-md-6" *ngIf="Formulaire.valid">
                            <button class="btn btn-primary btn-enregistrement" (click)="onSubmitForm()">
                                <span *ngIf="!stateButton"> {{defaultText}}</span>
                                <span *ngIf="stateButton"> {{patienter}}</span>
                            </button>
                        </mat-card-actions>
                    </form>


                </mat-expansion-panel>


            </mat-accordion>
        </div>
    </div>


</div>